#loginGrid {
    display: flex;
}

#loginFirst {
    width: 50%;
    height: 100vh;
    padding: 5%;
}

#loginSecond {
    width: 50%;
}

#LoginLogo {
    width: 60%;
    margin-left: 20%;
    margin-top: 10%;
}

#LoginText {
    font-size: 26px;
    text-align: center;
}

@media screen and (max-width: 600px) {
    #loginGrid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    #loginFirst {
        width: 100%;
        height: 25vh;
    }

    #loginSecond {
        width: 100%;
    }

    #LoginLogo {
        margin-top: -5%;
    }

    #LoginText {
        font-size: 23px;
    }
}