.post {
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;

}

.post-header {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.post-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 12px;
}

.post-info {
    display: flex;
    flex-direction: column;
}

.post-user {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 4px;
}

.post-timestamp {
    font-size: 12px;
    color: #808080;
}

.post-content {
    margin-bottom: 12px;
}

.post-text {
    font-size: 18px;
    margin-bottom: 12px;
    position: relative;
    width: 100%;
}

.post-image {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.post-actions {
    display: flex;
    gap: 8px;
}

.post-action {
    /* background-color: #ffffff; */
    border: none;
    padding: 6px 12px;
    font-size: 14px;
    color: #808080;
    border-radius: 4px;
    cursor: pointer;
}

.post {
    /* background-color: #ffffff; */
    /* border: 1px solid #e4e6eb; */
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.post-header {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.post-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 12px;
}

.post-info {
    display: flex;
    flex-direction: column;
}

.post-user {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 4px;
}

.post-timestamp {
    font-size: 12px;
    color: #808080;
}

.post-content {
    margin-bottom: 12px;
}

.post-text {
    font-size: 18px;
    margin-bottom: 12px;
    text-align: left;
}

.post-image {
    width: 100%;
    border-radius: 4px;
    max-height: auto;
}

.post-actions {
    display: flex;
    gap: 8px;
}

.post-action {
    /* background-color: #ffffff; */
    border: none;
    padding: 6px 12px;
    font-size: 14px;
    color: #808080;
    border-radius: 4px;
    cursor: pointer;
}

/* Media Query for Desktop Screens */
@media screen and (min-width: 768px) {
    .post-image {
        /* max-width: 500px; */
        height: auto;
        margin-right: 90%;
    }

    .post-text {
        margin-right: 90%;
        /* max-width: 500px; */
        text-align: left;
        font-size: 14px;
    }
}